.card{
	width: 300px;
	border: solid black;
	border-width: 2px;
	margin-top: 50px;
	position: relative;
}

img{
	width: 100%;
	height: auto;
	margin-top: 20px;
}

h1{
	text-align: center;
}

.answers-list{
	width: 600px;
	margin: 0 auto;
	margin-top: 50px;
}

.answer{
	border: solid black;
	border-width: 2px;
	margin: 0 5px;
}

.result{
	margin-top: 25px;
}

.answer-chosen{
	max-width: 200px;
	margin: 0 auto;
	border: solid black;
	border-width: 2px;
}

.score{
	
	
	position: absolute;
	left: 85%;
	font-size: 50px;
	top: 3%;
}


.time{
	
	
	position: absolute;
	left: 5%;
	font-size: 50px;
	top: 3%;
}