form{
	width: 400px;
	margin-left: 10%;
	margin-top: 5%
}

label{
	display: inline-block !important;
	max-width: 120px !important;
}

input{
	display: inline-block !important;
	max-width: 100px !important;
	margin-right: 0px !important;
}

div.col-sm-11{
	max-width: 300px !important;
}

.custom-select{
	width: auto !important;
}