.cell{
	position: relative;
	height: 50px;

}


.input{
	background: grey;
	position: absolute;
	left: 35%;
	top: 7%;
}

.cell p{
	position: absolute;
	left: 49%;
	top: 20%;
	margin-bottom: 0px;
}


.fa-circle-thin{
	position: absolute;
	top: 10%;
	left: 2.5%
}	

.fa-times{
	display: none;
}




.incomplete{
	display: none;
}

.complete{
	display: block;
	color: green;
	position: absolute;
	top: 21.5%;
	left: 3.5%
}


.cell:hover  .fa-times{
	display: block;
	color: red;
	position: absolute;
	left:90%;
	top: 20%;
}